<IfModule mod_rewrite.c>
    RewriteEngine On

    # Handle React Router - redirect all requests to index.html
    RewriteBase /
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.html [L]
</IfModule>
